<div>
  <section>
    <h2>Concepto</h2>
    <hr />
    <div class="grilla">
      <img src="../../../../assets/concepto.jpg" alt="img concepto" />
      <p>
        Esta es una experiencia como ninguna otra. Recorre impresionantes
        lugares y rutas manejando tu propia Vespa acompañado de tus amigos o
        aquellos que quieran disfrutar de esta travesía con vos. Tendras tu
        propio patrón y la libertad de trazar tu propio camino dentro de los
        lugares más hermosos del mundo. Con su principal sede en villa Carlos
        paz, córdoba, invitar a todas las personas del mundo a vivir unos días
        únicos. En donde las vespas pasan a ser algo secundario y la experiencia
        lo principal.
      </p>
    </div>
  </section>
  <section>
    <h2>Reseña Histórica</h2>
    <hr />
    <div class="grilla">
      <img src="../../../../assets/reseña.jpg" alt="img reseña" />
      <p>
        De las grandes crisis es donde nace la inventiva, los descubrimientos y
        las grandes estrategias. Después de la segunda guerra mundial, con una
        Italia devastada por la pos guerra… nace la Vespa, que por sí no lo
        sabías, al español significa “Avispa”, nombre que recibió por su creador
        Enrico Piaggio, por compararlo con un avioncito del asfalto por su
        versatilidad para estacionar y desplazarse por espacios reducidos de
        tamaño y que se caracterizaría por ser una motocicleta tipo Scooter.
        Vespa un icono de la moda en todos los tiempos. Hoy en día, la marca
        italiana continúa con el desarrollo de su estilo atemporal, que enamoró
        a generaciones y que seguramente lo seguirá haciendo. Como podrías vivir
        la experiencia de película en Roma, si no es en una Vespa?
      </p>
    </div>
  </section>
</div>
