<div class="site-footer">
  <div class="informacion">
    <h3>Sobre Nosotros</h3>
    <p>
      Una experiencia como ninguna otra. Recorré impresionantes lugares y rutas
      manejando tu propia Vespa acompañado de tus amigos, o aquellos que quieran
      disfrutar de esta travesía con vos. Tendrás tu propio patrón y la libertad
      de trazar tu propio camino dentro de los lugares más hermosos del mundo.
    </p>
  </div>
  <div class="ultimos-tw"></div>
  <div class="redes">
    <nav>
      <a href="https://www.instagram.com/espaciovespa/" target="_blank"
        ><fa-icon [icon]="faInstagram"></fa-icon
      ></a>
      <a
        href="https://www.facebook.com/espaciovespa-101898828236752"
        target="_blank"
        ><fa-icon [icon]="faFacebook"></fa-icon
      ></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
    </nav>
  </div>
  <div class="foot">
    <p>Todos los derechos reservados &copy; Fabian Chicco</p>
  </div>
</div>
